################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/FormationCsharp/.vs/FormationCsharp/FileContentIndex/98ee438a-d8e2-4765-825a-9f89e99b19cb.vsidx
/FormationCsharp/.vs/FormationCsharp/v17
/.vs/A_coutard/v17
/.vs
